<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <beans>
        <bean id="createOrder" class="com.alibaba.smart.framework.engine.modules.bpmn.CreateOrder" />
        <bean id="testAbort" class="com.alibaba.smart.framework.engine.test.TestAbortEvent"/>
        <bean id="workflowConfig" class="com.alibaba.smart.framework.engine.configuration.impl.DefaultProcessEngineConfiguration"/>


    </beans>

</beans>