<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 测试版本增加该配置，可以打印sql语句及参数，正式发布前务必注释掉 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <package name="com.alibaba.smart.framework.engine.persister.database.entity"/>
        <package name="com.alibaba.smart.framework.engine.service.param"/>

    </typeAliases>
</configuration>
